transformers==4.41.2
sentence-transformers==2.7.0
torch>=2.0.0
langchain==0.2.3
langchain-core==0.2.3
langchain-community==0.2.3
langchain-huggingface==0.0.3
pypdf==4.3.0
pinecone-client==3.2.2
requests==2.32.3
pycountry==23.12.11
Babel==2.15.0
countryinfo
python-dotenv==1.0.0
-e.